/* Declaracion de Variables*/

$border_color: #b6f8f4;
$estilos: (
    font_color: black ,
    site_color: #e2fdf4,
    lila_color: rgb(203, 147, 255),
    gray_color: rgb(141, 138, 138),
    gradient-right: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, #dbfbde 100%),
    font_instrucciones: ('Raleway', sans-serif),
    border:  2px solid $border_color
);



