

/*-------------------------------------------Body Header-----------------------------------------------------*/
h1 {
    font-family: StyleScript;
    padding-top:1%;
    font-size: 400%;
    color: map-get($estilos,lila_color);
    background: map-get($estilos,site_color);
    margin-bottom:1.5%;
    margin-top:2%;
    line-height:90% !important;
    text-align: center;
    border: map-get($estilos,border);
    border-radius: 15px;
}


.logo_menu img{
    display:none;
}

.logo {
    img{
        margin-top: 5px;
    }
}