
/*Imagen del Index*/
.item {
    align-items: center;
    text-align: center;
    img{
        width: 99%;
        border-radius: 15px;
    }
}

.card-img-top{
    height: 230px;

}

.card {
    margin-top: 10px;
    border: map-get($estilos,border);
    border-radius: 15px;
    padding:10px;

}

.carousel-inner>.active {
    position: relative;
    transform: translateX(25%);
}

.Tips { 
    margin:2%;
    padding:2%;
    border-radius: 15px;
    border: map-get($estilos,border);
    h5{
        font-weight: 360;
        color: map-get($estilos,gray_color);
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1,5;
    
    }
}

@media (min-width:1690px) and (max-width:2000px){
    .carousel-inner>.active {
        transform: translateX(29%);
    }
}