@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@200&family=Raleway:wght@200&display=swap');



/* --------------------------------recetas----------------------------------------*/
/*MIXIN----------------------------------------------------------------XCEX*/

@mixin tarjeta{
    margin-top: 10px;
    border: map-get($estilos,border);
    border-radius: 15px;
    justify-content: space-around;
    width:99%;

}
.receta_body{
    @include tarjeta();
}

h3{
    color: map-get($estilos,lila_color);
    margin-top: 10px;
    text-align: center;
}

h4 {
    text-align: start;
    margin-left:  10px;  
}


.imagen_receta{
    margin-top: 30px;
    padding-top: 10px;
    align-items: center;
    border-radius: 15px;
}

.lista_receta {
    list-style: none;
    color: map-get($estilos, font_color);

    li{
        line-height: 1.5;
        text-align: left;
    }
    li::before{
        content: "\2022";  
        color: map-get($estilos,lila_color);
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -1em; 
    }

}

.text-start li {
    font-family: map-get($estilos,font_instrucciones);
}
