@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@200&family=Raleway:wght@200&display=swap');

$font_instrucciones: 'Raleway', sans-serif;

/* --------------------------------recetas----------------------------------------*/


.container_body{
    border: solid 2px $border_color;
    border-radius: 15px;
    justify-content: space-around;
    width:99%;

}

h3{
    color: $lila_color;
    margin-top: 10px;
    text-align: center;
}

h4 {
    text-align: start;
    margin-left:  10px;  
}


.imagen_receta{
    margin-top: 30px;
    padding-top: 30px;
    align-items: center;
    border-radius: 15px;
}

.lista_receta {
    list-style: none;
    color: black;

    li{
        line-height: 1.5;
        text-align: left;
    }
    li::before{
        content: "\2022";  
        color: $lila_color;
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -1em; 
    }

}

.text-start li {
    font-family: $font_instrucciones;
}
