/* Modulos */
@import "colores";
@import "receta";
@import "footer";
@import "header";
@import "index_body";
@import "media_700";
@import "media_701_800";

@font-face{
    font-family :"Poppins";
    src: url('../assets/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: "StyleScript";
    src: url('../assets/font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('../assets/font/VarelaRound-Regular.ttf');
}

a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:"VarelaRound";
    height: 2vw;
}
h3{
font-family:"VarelaRound";

}
h5{
    font-family:"VarelaRound";
    
}
li{
    font-family:"VarelaRound";
    
    }


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


ol{
    line-height: 1.5;
    font-size: 1.1vw;
    color: map-get($estilos,font_color);
}

ol{
    list-style-type: lower-alpha;
}

ol li::marker {
    color: map-get($estilos,lila_color);
    line-height: 1.5;
}
/* ------------------------------ANIMACIONES -------------------------------------*/
.nav-item {
    &:hover{
        filter:opacity(.5);
        background-color:lightgrey;
    }
}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

h3{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
    margin-left: 0%;
    width: 300%
    }

    to {
    margin-right: 100%;
    width: 100%;
    }
}



/*---------------------------------Clases--------------------------------*/

@mixin item {
    @include card();
}

.item {
    iframe {
        border-radius: 15px;
        height: 99%;
        width: 99%;
    }
}



/*------------------------------Sobre Nosotros ----------------------------*/
/*extend: Container body extiende de la clase card de index  */
.container_body{
    @extend .card;
    justify-content: space-around;
    width:99%;
    background:$gradient-right;    
    }
    
.nosotros_logo img{
    width:230px;
    height: 340px;
}
