/* Modulos */
@import "colores";
@import "receta";
@import "footer";
@import "header";
@import "index_body";

@font-face{
    font-family :"Poppins";
    src: url('../assets/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: "StyleScript";
    src: url('../assets/font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('../assets/font/VarelaRound-Regular.ttf');
}

a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:"VarelaRound";
    height: 2vw;
}
h3{
font-family:"VarelaRound";

}
h5{
    font-family:"VarelaRound";
    
}
li{
    font-family:"VarelaRound";
    
    }


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


ol{
    line-height: 1.5;
    font-size: 1.1vw;
    color: black;
}

ol{
    list-style-type: lower-alpha;
}

ol li::marker {
    color: $lila_color;
    line-height: 1.5;
}
/* ------------------------------ANIMACIONES -------------------------------------*/
.nav-item:hover {
    filter:opacity(.5);
    background-color:lightgrey;

}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

h3{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
    margin-left: 0%;
    width: 300%
    }

    to {
    margin-right: 100%;
    width: 100%;
    }
}



/*---------------------------------Clases--------------------------------*/

.item {
    iframe {
        border-radius: 15px;
        height: 99%;
        width: 99%;
    }
}



/*------------------------------Sobre Nosotros ----------------------------*/
.container_body{
    border-radius: 15px;
    border: 2px solid $border_color;

}
.nosotros_logo img{
    width:230px;
    height: 340px;
}

/*----------------------------------responsive 701px to 800px -------------------------*/
@media (min-width:701px) and (max-width:800px){
    /*Imagen del Index*/
    .item img{
        margin-top: 120px;
    }

    .logo{
        display:none
        
    }
    /*---Centrando Carousel de indez ---- */
    .carousel-inner>.active {
        transform: translateX(15%);
        img{
            width:430px;
        }
    }

    .logo_menu{
        img{
            width: 50px;
            display:flex;
        }
    }


    .card {
        border: 2px solid $border_color;
        border-radius: 15px;
        margin: 10px;
        height: 300px;
    }

    .nosotros_logo img{
        width:90px;
        height: 150px;
    }


    p{
        font-size:14px;
    }
    .copy_footer{
        font-size: 14px;
    }

}

/*--------------------------------------responsive hasta 700px ------------------------------*/
@media (max-width:700px){   
    h1{
        font-size: 300%;
        margin-bottom:4%;
    }


    /*Imagen del Index*/
    .item img{
        margin-top: 100px;

    }

    .logo{
        display:none
        
    }
    /*---Centrando Carousel del index---- */
    .carousel-inner>.active {
        transform: translateX(6%);
        img{
            width:320px;
        }
    }

    .logo_menu{
        img{
            width: 40px;
            display:flex;
        }
    }


    .card {
        border: 2px solid $site_color;
        border-radius: 15px;
        margin: 10px;
        height: 310px;
    }

    .nosotros_logo img{
        width:110px;
        height: 150px;
    }


    p{
        font-size:14px;
    }
    .copy_footer{
        font-size: 14px;
    }

}