
@import "colores";
@import "receta";

@font-face{
    font-family :"Poppins";
    src: url('../assets/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: "StyleScript";
    src: url('../assets/font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('../assets/font/VarelaRound-Regular.ttf');
}

a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:"VarelaRound";
    height: 2vw;
}
h3{
font-family:"VarelaRound";

}
h5{
    font-family:"VarelaRound";
    
}
li{
    font-family:"VarelaRound";
    
    }


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


ol{
    line-height: 1.5;
    font-size: 1.1vw;
    color: black;
}

ol{
    list-style-type: lower-alpha;
}

ol li::marker {
    color: $lila_color;
    line-height: 1.5;
}
/* ------------------------------ANIMACIONES -------------------------------------*/
.nav-item:hover {
    filter:opacity(.5);
    background-color:lightgrey;

}


p {
    animation-duration: 3s;
    animation-name: slidein;
}

h3{
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
    margin-left: 0%;
    width: 300%
    }

    to {
    margin-right: 100%;
    width: 100%;
    }
}


/*-------------------------------------------Body Header-----------------------------------------------------*/
h1 {
    font-family: StyleScript;
    padding-top:1%;
    font-size: 400%;
    color: $lila_color;
    background: $border_color;
    margin-bottom:1.5%;
    margin-top:2%;
    line-height:90% !important;
    text-align: center;
    border: 2px solid $site_color;
    border-radius: 15px;
}

.logo_menu img{
    display:none;
}

.logo img{
    width: 1px;
}
/*-------------------------------------------Body Main ----------------------------------------------------*/

.item {
    align-items: center;
    text-align: center;

}

/*Imagen del Index*/
.item img{
    width: 99%;
    border-radius: 15px;
}

.card-img-top{
    height: 220px;

}

.card {
    margin-top: 10px;
    border: 2px solid $site_color;
    border-radius: 15px;
}

.carousel-inner>.active {
    position: relative;
    transform: translateX(25%);
}

.Tips { 
    margin:2%;
    padding:2%;
    border-radius: 15px;
    border: 2px solid $site_color;
}

.Tips h5{
    font-weight: 360;
    color: $gray_color;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1,5;

}


.copy_footer {
    text-align: center;
}
/*--------------------------Clases----------------------*/

.item iframe {
    border-radius: 15px;
}



/*------------------------------Sobre Nosotros ----------------------------*/
.nosotros_logo img{
    width:230px;
    height: 340px;
}

/*-------------------------------------------Footer ----------------------------------------------------*/

.footer {  
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Footer_icons"
    "Footer_copyright";
}

.footer_section {
    grid-area: Footer_icons;
    display:flex;
    justify-content: space-around; 
    align-items:center;
    justify-content: center;
    background-color: $border_color;
    border-radius: 15px;

}   
.footer_section .footer_icons{
    display: flex;
    justify-content: space-around;
    width: 150px;
    text-align:center;
    padding: 5px;
}

.hover:hover{
    filter:opacity(.5)
}

/*-------------------------------------------responsive 701px to 800px -------------------------------------*/
@media (min-width:701px) and (max-width:800px){
    /*Imagen del Index*/
    .item img{
        margin-top: 120px;
    }

    .logo{
        display:none
        
    }
    /*---Centrando Carousel ---- */
    .carousel-inner>.active {
        transform: translateX(15%);
        img{
            width:430px;
        }
    }

    .logo_menu{
        img{
            width: 50px;
            display:flex;
        }
    }


    .card {
        border: 2px solid $site_color;
        border-radius: 15px;
        margin: 10px;
        height: 300px;
    }

    .nosotros_logo img{
        width:90px;
        height: 150px;
    }


    p{
        font-size:14px;
    }
    .copy_footer{
        font-size: 14px;
    }

}

/*-------------------------------------------responsive 200px to 800px -------------------------------------*/
@media (max-width:700px){   
    h1{
    font-size: 300%;
    margin-bottom:4%;
    }


    /*Imagen del Index*/
    .item img{
        margin-top: 100px;

    }

    .logo{
        display:none
        
    }
    /*---Centrando Carousel ---- */
    .carousel-inner>.active {
        transform: translateX(6%);
        img{
            width:320px;
        }
    }

    .logo_menu{
        img{
            width: 40px;
            display:flex;
        }
    }


    .card {
        border: 2px solid $site_color;
        border-radius: 15px;
        margin: 10px;
        height: 310px;
    }

    .nosotros_logo img{
        width:90px;
        height: 150px;
    }


    p{
        font-size:14px;
    }
    .copy_footer{
        font-size: 14px;
    }

}