@font-face{
    font-family :"Poppins";
    src: url('../assets/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: "StyleScript";
    src: url('../assets/font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('../assets/font/VarelaRound-Regular.ttf');
}

a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:"VarelaRound";
    height: 2vw;
}
h3{
font-family:"VarelaRound";

}
h2{
    font-family:"VarelaRound";
    }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


ol{
    line-height: 1.5;
    font-size: 1.1vw;
    color: black;
}

ol{
    list-style-type: lower-alpha;
}

ol li::marker {
    color: rgb(203, 147, 255);
    line-height: 1.5;
}
/* ------------------------------ANIMACIONES -------------------------------------*/
.nav-item:hover {
    filter:opacity(.5);
    background-color:lightgrey;

}


p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%
    }

    to {
    margin-left: 0%;
    width: 100%;
    }
}


/*-------------------------------------------Body Header-----------------------------------------------------*/
h1 {
    font-family: StyleScript;
    padding-top:1%;
    font-size: 400%;
    color: rgb(203, 147, 255);
    background: #e2fdf4;
    margin-bottom:1.5%;
    margin-top:2%;
    line-height:90% !important;
    text-align: center;
    border: 2px solid #b6f8d0;
    border-radius: 15px;
}

.logo_menu img{
    display:none;
}
/*-------------------------------------------Body Main ----------------------------------------------------*/

.body_index{
    display: flex;
    border-radius: 15px;
    border: solid 2px #e2fdf4;
    text-align: center;
    width: 99%;
}

.body_index img{
    border-radius:20px;

}
.item {
    align-items: center;
    text-align: center;
    /*margin-top:5%;*/
}
.item img{
    width: 99%;
    padding-bottom:10%;
}

.card-img-top{
    height: 220px;

}




.Tips { 
    grid-area: Tips;
    display: inline-block;
    padding:2%;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.Tips h5{
    font-weight: 360;
    color:rgb(141, 138, 138);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1,5;

}


.copy_footer {
    text-align: center;
}
/*--------------------------Clases----------------------*/

.item iframe {
    border-radius: 15px;
}

/* --------------------------------recetas----------------------------------------*/

.imagen_receta{
    width: 95%;
    align-items: center;
    margin-top:40px;
    display: flex;
    border-radius: 15px;
}


.container_body{
    border: solid 2px #e2fdf4;
    border-radius: 15px;
    justify-content: space-around;
    width:99%;

}
.lista_receta {
    list-style: none;
    color: black;
}

.lista_receta  li{
    line-height: 1.5;
    text-align: left;
}

h3{
    color:rgb(203, 147, 255);
    margin-top: 10px;
    text-align: center;
}

h4 {
    text-align: start;
    margin-left:  10px;  
}

.lista_receta  li::before {
    content: "\2022";  
    color: rgb(203, 147, 255);
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}


/*-------------------------------------------Footer ----------------------------------------------------*/

.footer {  
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Footer_icons"
    "Footer_copyright";
}

.footer_section {
    grid-area: Footer_icons;
    display:flex;
    justify-content: space-around; 
    align-items:center;
    justify-content: center;
    background-color: #e2fdf4;
    border-radius: 15px;

}   
.footer_section .footer_icons{
    display: flex;
    justify-content: space-around;
    width: 150px;
    text-align:center;
    padding: 5px;
}

.hover:hover{
    filter:opacity(.5)
}

/*-------------------------------------------responsive 200px to 767px -------------------------------------*/
@media (min-width:200px) and (max-width:767px){
h1{
    font-size: 300%;
    margin-bottom:4%;
    }
.logo{
    display:none
    
}

.logo_menu img{
    width: 40px;
    display:flex;
}
animate__backInDown

.row img{  
    display:none;
    
}
.item img {
    height: 25vh;
    width: 25vh;
    display:inline;

}
.nosotros_logo img{
    width:90px;
    height: 150px;
}

.cards{
    height:20%;
}

.d-block{
    width:90%;
    padding-left: 30px;

}
p{
    font-size:14px;
}

}