@font-face{
    font-family :"Poppins";
    src: url('../assets/font/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: "StyleScript";
    src: url('../assets/font/StyleScript-Regular.ttf');
}
@font-face {
    font-family: "VarelaRound";
    src: url('../assets/font/VarelaRound-Regular.ttf');
}

a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:"VarelaRound";
    height: vw;
}
h3{
font-family:"VarelaRound";
}
h2{
    font-family:"VarelaRound";
    }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*-------------------------------------------Body Header-----------------------------------------------------*/

.header {  
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "LogoL Titulo LogoR"
    ". Menu .";
}
.Titulo {
    grid-area: Titulo;
    display:flex;
    background-color: beige; 
    justify-content: space-around;
    padding:10px 1px 1px 1px;
    font-family: StyleScript;
    height: 80px;
    color: rgb(203, 147, 255);
    font-size: 80px;
    background: #e2fdf4;
    margin-bottom:10px;
    margin-top:20px;
    line-height:60px !important;
    text-align: center;
    border: 2px solid #b6f8d0;
    border-radius: 15px;
}
.LogoL {
    display:flex;
    grid-area: LogoL;
    justify-content: space-around;
    height: 100px;
}
.LogoR {
    display:flex;
    grid-area: LogoR;
    justify-content: space-around;
    height: 100px;
}

.LogoR i{
    display: none;
}
.Menu { 
    display:flex;
    grid-area: Menu;
    justify-content: space-around; 
    color:lightgrey;
    justify-items: center;
}
.Menu .texto{
    text-align: center;
    width:600px;
    font-family:"VarelaRound";
    font-size: 20px;
    
}


/*-------------------------------------------Body Main ----------------------------------------------------*/
.body {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1400px 130px 230px;
    /*grid-template-rows: 76% 12% 12%;*/
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "intro intro intro intro intro intro intro intro intro"
    "Beneficios Beneficios Beneficios Beneficios Beneficios Beneficios Beneficios Beneficios Beneficios"
    "Tips Tips Tips Tips Tips Tips Tips Tips Tips";
}

.body .intro { 
    grid-area: intro; 
    background-color: lightgrey; 
    padding-left:2%;
    /*height:90vh;*/
    /*overflow: hidden;*/
    background-image: url('/assets/background/background_healthy.jpg');
    background-size: cover;
    background-position: center;
}

.intro .contenido{
    /*grid-column: 2/3;*/
    margin-top: 100px;
    width: 500px;
    
}
.intro .contenido h3{
    font-weight:550;
    font-size: 1.5vw;
    color:rgb(203, 147, 255);
    font-family:"VarelaRound";
}
.intro .contenido p{
    font-weight: 200;
    color:rgb(161, 159, 159);
    margin-top: 30px;
    font-size: 1.2vw;
    font-style: italic;
    line-height: 1.5;
    
}

/*------------------------------------------fin body intro ---------------------------------*/



.Beneficios { 
    grid-area: Beneficios; 
    display:flex;
    justify-content: space-around;    
    align-items: center;
    border-color: #b6f8d0;
    overflow: hidden;
    background-color: #fff;

    
}
.Beneficios img{ 
    height: 200px; 
}


.Tips { 
    grid-area: Tips;
    display: inline-block;
    border: solid 1px #b6f8d0;
    padding:1%;
    margin-top: 100px;
    justify-items: center;
    border-radius: 15px;
}
.Tips .titulo{
    display: block;
    width: 400px;
    font-size:30px;
    font-weight:300;
    color:rgb(203, 147, 255);
    font-family:"VarelaRound";
}

.Tips p{
    font-weight: 200;
    color:rgb(161, 159, 159);
    margin-top: 2px;
    font-size: 1.2vw;
    line-height: 1,5;
}


.body_clases {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 300px;
    gap: 0px 0px;
    margin: 5px;
    padding:5px;
    grid-auto-flow: row;
    grid-template-areas:
    "Video1 Video2 Video3"
    "texto1 texto2 texto3";
}

.Video1 { 
    grid-area: Video1; 

    }
.Video1 iframe{
    border-radius: 15px;
}

.texto1 { 
    grid-area: texto1;
    padding: 5px; 
    margin-top: 15px;
    width: 96%;
    font-size: 2vh;
    border-color: #b6f8d0;
    border-radius: 15px;
    background-color:#edf6f9;
}

.Video2 { 
    grid-area: Video2; 

}
.Video2 iframe{
    border-radius: 15px;
}

.texto2 { 
    grid-area: texto2;
    padding: 5px; 
    margin-top: 15px;
    width: 96%;
    font-size: 2vh;
    border-color: #b6f8d0;
    border-radius: 15px;
    background-color:#edf6f9;
}

.Video3 { 
    grid-area: Video3;

}
.Video3 iframe{
    border-radius: 15px;
}

.texto3 {
    grid-area: texto3;
    padding: 5px; 
    margin-top: 15px;
    width: 96%;
    font-size: 2vh;
    border-color: #b6f8d0;
    border-radius: 15px;
    background-color:#edf6f9;
}


/*-------------------------------------------Footer ----------------------------------------------------*/

.footer {  
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Footer_icons"
    "Footer_copyright";
}

.footer_section {
    grid-area: Footer_icons;
    display:flex;
    justify-content: space-around; 
    align-items:center;
    justify-content: center;
    background-color: #e2fdf4;
    border-radius: 15px;

}
.footer_section .footer_icons{
    display: flex;
    justify-content: space-around;
    width: 150px;
    text-align:center;
    padding: 5px;
}

.hover:hover{
    filter:opacity(.5)
}
.Footer_copyright {
    grid-area: Footer_copyright; 
    display:flex;
    background-color: rgb(238, 189, 196); 
    justify-content: space-around;
}

/*-------------------------------------------responsive 1424px to 1735px -------------------------------------*/

@media (min-width:1424px) and (max-width:1735px){
.body {  
    grid-template-rows: 900px 150px 210px;
}
.body_clases {  
    grid-template-rows: 350px 400px;
}
}

/*-------------------------------------------responsive 1024px to 1423px -------------------------------------*/

@media (min-width:1024px) and (max-width:1423px){
.body {  
    grid-template-rows: 800px 120px 250px;
}

.Tips p{
    font-size: 1.6vw;
    /* color:yellow;*/
}

.body_clases {  
    grid-template-rows: 350px 500px;
}
}



/*-------------------------------------------responsive 865px to 1023px -------------------------------------*/
@media (min-width:865px) and (max-width:1023px){

.Menu .texto{
    width:450px;
    font-size: 16px;
    
}

.body {  
    grid-template-rows: 900px 160px 230px;
}
.intro .contenido{
    margin-top: 120px;
    width: 228px;
}

.intro .contenido h3{
    font-size:20px;
}
.intro .contenido p{
    font-size: 17px;
    color:lightslategray;

}

.Beneficios img{ 
    height: 150px; 

}

.Tips .titulo{
    font-size:18px; 
}

.Tips p{
    font-size: 1.6vw;
    line-height: 1.5;
    /*color:red;*/
}

.body_clases {  
    grid-template-rows: 350px 600px;
}

.footer_section {
    margin-bottom: 5px;
}
}

/*-------------------------------------------responsive 601px to 864px -------------------------------------*/

@media (min-width:601px) and (max-width:864px){
.Titulo {
    font-size: 11vw;
}

.LogoR img{
    display:none;
}
.LogoR i{
    display:flex;

}
.Menu .texto{
    width:80%;
    font-size: 2vw;
    
}
.body {  
    grid-template-rows: 600px 90px 200px;
}
.body .intro { 
    background-size: center;
    background-position: center;
}

.intro .contenido{
    margin-top: 40px;
    width: 155px;
    height: 340px;
    padding: 7px;
}
.contenido:hover {
    border: 1px solid #b6f8d0;;
    padding: 5px;
}
.intro .contenido h3{
    font-size:16px;
}
.intro .contenido p{
    font-size: 13px;
    color:lightslategray;
    

}
.Beneficios img{ 
    height: 100px;   
}
.Tips .titulo{
    font-size:15px; 
}

.Tips p{
    font-size: 1.4vw;
    /* color:blue;*/
    line-height: 1.5;
}

.body_clases{
    grid-template-rows: 300px 700px;
    background-color: antiquewhite;
}



}