@media screen and (max-width:600px){
    .navbar{
        position:relative;
    }
    .navbar .shop{
        display: none;
    }
    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
    }
    .navbar .menu{
        display: none;
    }
    /*main*/
    .principal .contenido{
        grid-row:5/7;
    }

    .principal .h1{
        font-size: 25px;
    }
    .principal p{
        font-size: 12px;
    }
    .principal .boton{
        font-size: 10px;
        font-weight: 900;
        color:yellow;  
    }
    .piedepagina{
        height: 110px;
    }
    .piedepagina .seguime{
        display: none;
    }
    .piedepagina .desarrolado{
        font-size:15px;
    }
}